.tag {
	background: linear-gradient(25deg, rgb(46,113,166), rgb(153,213,249));
	border-radius:5px;
	padding: 15px 20px 14px 18px;
	width:150px;
}
.tag:hover {
	cursor: pointer;
}
.button {
	position:relative;
	text-decoration: none;
	color:white;
	font-weight:bold;
	margin:0px;
}
.imgCard {
	position:relative;
	color:white;
	width:400px;
	height:500px;
}
.imgCard > h3 {
	position:relative;
	margin:1rem auto;
	text-align: center;
	width:80%;
	z-index: 2;
}
.imgCard > img {
	position:relative;
	width:80%;
	z-index: 2;
}
.imgCard > div.imgCardBg {
	background-color:white;
	position:absolute;
	opacity:0.5;
	width:400px;
	height:500px;
	top:0px;
	z-index: 1;
}
.imgCard > div:last-of-type {
	position:relative;
	margin:auto;
	margin-top:1rem;
	z-index: 2;
}
.descrCard {
	position:relative;
	color:white;
	width:400px;
	height:500px;
}
.descrCard > h2 {
	position:relative;
	display: inline-block;
	margin:2rem auto;
	text-align: center;
	width:80%;
	z-index: 2;
}
.descrCard > img {
	position:relative;
	width:30%;
	z-index: 2;
}
.descrCard > img:hover {
	cursor:pointer;
}
.descrCard > .descrCardBg {
	background-color:white;
	position:absolute;
	opacity:0.5;
	width:400px;
	height:500px;
	top:0px;
	z-index: 1;
}
.descrCard > p {
	position:relative;
	width:80%;
	height:40%;
	overflow-y:scroll;
	margin:5rem auto;
	z-index: 2;
}