.flexWrap {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:auto;
	width:80vw;
}
header.categoriesHeader {
	margin:auto;
	width:50vw;
}
header.categoriesHeader > div {
	display:inline-block;
}
header.categoriesHeader > h2 {
	display:inline-block;
	margin-left:11.15rem;
	margin-right:11.15rem;
}
.flexWrap > section {
	margin:3rem;
}