/*.tag {
	background: linear-gradient(25deg, rgb(46,113,166), rgb(153,213,249));
	color:white;
	font-weight: bold;
	border-radius:5px;
	padding: 8px 10px 9px 10px;
	width:100px;
}
.tag:hover {
	cursor: pointer;
}*/
.button {
	background: linear-gradient(25deg, rgb(46,113,166), rgb(153,213,249));
	border: none;
	color:white;
	font-weight: bold;
	border-radius:5px;
	padding: 8px 10px 9px 10px;
/*	width:100px;*/
	text-decoration: none;
}
.recipeSection {
	color:white;
}
nav.recipeNav {
	display: flex;
	margin: 2rem auto 1rem;
	justify-content: space-evenly;
	width: 55vw;
}
.link {
	background: none;
	border: none;
	border-bottom: 1.75px solid transparent;
	color: white;
	font-size: 1rem;
}
.link:hover {
	border-bottom:1.75px solid white;
	cursor:pointer;
}
.link:focus {
	border-bottom:1.75px solid white;
	outline: none;
}
main.recipeCard {
	position:relative;
	width: 90vw;
	margin:auto;
	margin-bottom:2rem;

	@media only screen and (min-width:992px) {
		width:55vw;
	}
	& > *:not(.recipeCardBg) {
		position: relative;
		z-index: 2;
	}
	& > figure {
		padding: 2rem 0rem 1rem;

		&:hover {
			& > img {
				opacity:0.25;
				cursor:pointer;	
			}
			& > figcaption {
				cursor:pointer;
				display:block;
			}
		}
		& > img {
			width: 75%;
		}
		& > figcaption {
			position:absolute;
			font-weight:bold;
			display:none;
			color:black;
			top:35%;
			left:50%;
			width:100%;
			transform:translateX(-50%);
		}
		@media only screen and (min-width: 992px) {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto;
			padding: 0rem;
			float:left;
			width:17.5rem;
			height: 18rem;
		}
	}
	& > article {
		width: 90%;
		height:18rem;
		display: inline-block;

		@media only screen and (min-width: 992px) {
			width:calc(55vw - 17.5rem);
		}

		& > h3 {
			margin:0;
			margin-top:10px;
			width:100%;
			height:25px;
		}
		& > .ingredients {
			height:14.5rem;
			display:flex;
			flex-wrap:wrap;
			justify-content: space-around;
			align-content: space-between;
			overflow-y:scroll;
		}
		& > .scrollBlur {
			width:100%;
			height:20px;
			box-shadow: 0px -14px 11px -6px rgba(255,255,255,0.45);
		}
	}
}
.ingredients > p {
	margin:1rem 0px;
	width:10rem;
}
.instructions {
	margin:auto;
	margin-bottom:30px;
	width:90%;

	& > p {
		text-align:left;
		padding:0.75rem;
		margin:0px;

		&::before {
			content:"- ";
		}
	}
}
.recipeCard > footer {
	width:100%;
	padding-bottom: 1rem;
}
footer > p {
	display:inline-block;
	margin:0px 10px;
}
.recipeCardBg {
	background-color:#000000;
	position:absolute;
	display:block;
	opacity:0.1;
	width: inherit;
	height: 100%;
	top: 0rem;
	z-index: 1;
}