h2 {
	font-weight: bold;
	color:white;
}
.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:min(60rem, 70%);
	min-height:6rem;
	padding:0 2rem 1rem;
	margin: auto;
	margin-top:4rem;
	border-bottom: 2px solid rgb(46,113,166);

	&:last-of-type {
		margin-bottom: 6rem;
	}
	&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(5) {
		row-gap:1rem;
	}
	&:nth-of-type(1), &:nth-of-type(4) {
		row-gap: 2rem;
	}
	& > a {
		margin:0 2.5rem;
		padding:15px 20px 14px 18px;
	}
}
.cardCont {
	position: relative;
	font-size:1.15rem;

	& > p {
		position: absolute;
		top: 20%;
		left: 50%;
		width: 75%;
		transform: translateX(-50%);
	}
}
img {
	&.cardBg1 {
		width: 22.5rem;
	}
	&.cardBg2 {
		width: 18.75rem;

		&:first-of-type {
			transform:rotateX(180deg);
		}
	}
}

@media only screen and (min-width:992px) {
	.row {
		flex-direction: row;

		&:nth-of-type(odd) {
			& > a {
				order: -1;
			}
		}
	}
}